.login .login-form {
     margin: 0 0 20px;
}

.login.card-panel  {
    padding: 0;
}

.login.card-panel .card-header {
    height: 88px;
    width: 100%;
    position: relative;
    background-color: #3F51B5;
}

.login.card-panel .card-header .card-title {
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: #fff;
    font-size: 24px;
}

.login span.error {
    position: relative;
    top: -15px;
}

.login-wrapper {
    margin-top: 15vh;
}

.login-wrapper .login {
    display: block;
    margin: 0 auto;
    width: 500px;
    max-width: 95%;
}

.card-panel .card-content {
    margin: 20px 0;
    padding: 0 40px 40px;
}
