<div class="container">
  <h1>
    Videos
  </h1>
  <table class="responsive-table highlight bordered">
    <thead>
      <tr>
        <th>Título</th>
        <th>Duración</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of videos._list" (click)="goToVideo(video.id)">
        <td>{{ video.value.title }}</td>
        <td>{{ video.value.length }}</td>
        <td>{{ video.value.date }}</td>
      </tr>
    </tbody>
  </table>
  
<div class="fixed-action-btn">
    <a class="btn-floating btn-large  waves-effect waves-light green" routerLink="create/">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>

