<div class="container" *ngIf="video">
  <h3>{{ video.title }}</h3>
  <div class="card">
    <div class="match-video">
      <video [src]="videoUrl" controls>
        Tu navegador no soporta reproducción de videos.
        <a [href]="videoUrl">Descarga el video para verlo con tu reproductor preferido.</a>
      </video>
    </div>
    <div class="card-content">
      <span class="card-title">Observaciones</span>
    </div>
    <div class="card-action">
      <a>Nueva Observación</a>
    </div>
  </div>
</div>

<div class="loading small" *ngIf="!video">
  <div class="loader">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-indigo">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
