<script src="../../index.ts"></script>
<script src="../../auth-guard.service.ts"></script>
<div class="container">
  <h1>
    Videos
  </h1>
  <table class="responsive-table highlight striped">
    <thead>


    <tr *ngIf="this.checkedItems.length > 0">
      <td>
        {{this.checkedItems.length}} elementos seleccionados.
      </td>
      <td></td>
      <td></td>
      <td class = "right-align">


        <span class = "actionBtn" data-target="confirmation-modal" >
          <i class="material-icons">delete</i>
        </span>

        <span class = "actionBtn">
          <i class="material-icons">more_vert</i>
        </span>

      </td>
    </tr>
      <tr *ngIf="this.checkedItems.length <= 0">
        <th></th>
        <th>Título</th>
        <th>Duración</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of videos._list" (click)="goToVideo(video.id)">
        <td class ="center-align"  >
          <p (click) = "$event.stopPropagation()">
            <input type="checkbox" id="{{video.id}}" />
            <label (click) = "checkBox(video.id, $event)"    [attr.for]="video.id"></label>
          </p>
        </td>

        <td>{{ video.value.title }}</td>
        <td>{{ video.value.length }}</td>
        <td>{{ video.value.date }}</td>
      </tr>
    </tbody>
  </table>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large  waves-effect waves-light green" routerLink="create/">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>


<div id="confirmation-modal" materialize="modal" class="modal">
  <div class="modal-content">
    <h5>Esta seguro de eliminar {{checkedItems.length}} elementos?</h5>
    <p>Esta acción es irreversible</p>
  </div>
  <div class="modal-footer">
    <a (click) = "deleteVideo()"   class="modal-action modal-close waves-effect waves-green btn red ">Eliminar</a>
    <a  class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>
