<div class="header">
  <div class="header-content">
    <div class="menu-toggle-button">
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
    </div>
    <div class="title">
      {{ pageTitle }}
    </div>
    <div class="user-info">
         <span class='dropdown-button btn' materialize="dropdown" data-activates='teamSelectDropdown'>Drop Me!</span>
         <ul id='teamSelectDropdown' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
          </ul>
    </div>
  </div>
</div>
<div class="main-nav">
  <div class="logo">
    <a routerLink="/app"><h3>CHAS</h3></a>
  </div>
  <div class="menu">
    <div class="menu-header">
      <p><i class="material-icons">games</i>Partidos</p>
      <div class="menu-dropdown">
        <a routerLink="/app/videos" routerLinkActive="active" class="menu-item"><i class="material-icons">videocam</i>Videos</a>
      </div>
    </div>   
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>

<div class="black-overlay hidden"></div>
