/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

body {
    background-color: #FAFAFA;
    height: 100%;
}

.margin {
    margin: 45px auto;
}

.margin-sm {
    margin: 20px auto;
}

.padding {
    padding: 40px;
}

span.error {
    color: #F44336;
}

span.error.hidden {
    display: none;
}

@media (max-width: 992px) {
    .sm-block {
        clear: both;
        float: none !important;
        display: block;
    }
}