/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

body {
    background-color: #FAFAFA;
    height: 100%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.loading.small {
    height: calc(100vh - 80px);
}

.spinner-indigo {
    border-color: #3F51B5;
}

.margin {
    margin: 45px auto;
}

.margin-sm {
    margin: 20px auto;
}

.padding {
    padding: 40px;
}

span.error {
    color: #F44336;
}

span.error.hidden {
    display: none;
}

@media (max-width: 992px) {
    .sm-block {
        clear: both;
        float: none !important;
        display: block;
    }
}